.status-Recorded {
  color: green !important;
  font-weight: bolder;
}
.status-Will_Record {
  color: green !important;
  font-weight: bolder;
}
.status-Previous_Recording {
  color: blue !important;
  font-weight: bolder;
}
.status-Current_Recording {
  color: blue !important;
  font-weight: bolder;
}
.status-Too_Many_Recordings {
  color: blue !important;
  font-weight: bolder;
}




.guide-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.guide-full-width {
  width: 100%;
}

.guide-flex-1 {
  flex: 1;
}

.guide-header-wrapper {
  width: 100%;
  background-color: rgb(66, 66, 66);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.guide-header-icon {
  border-radius: 10%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 26px;
  width: 26px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 10px;
}

.guide-header-text {
  //width: 100%;
  text-align: center;
  background-color: rgb(66, 66, 66);
  //padding-top: 10px;
  //padding-bottom: 10px;
  font-size: x-large;
}

td.mat-cell:first-of-type {
  padding-left: 6px;
}

.guide-channelicon-wrapper {
  width: 30px;
}

.guide-channelicon {
  border-radius: 10%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 26px;
  width: 26px;
  flex-shrink: 0;
  object-fit: cover;
}