<div class="guide">

<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)=onTabChanged($event)>
    <mat-tab label="Inputs">
        <ng-template matTabContent>

<br />

<div>
  <button mat-raised-button color="primary" (click)="onClickNow()" >Now (default)</button>
</div>


<br /> 

<form class="guide-form">
  <mat-form-field class="guide-full-width">
    <input matInput placeholder="Start Time" [value]="startTimeInput" (input)="startTimeInput = $event.target.value">
  </mat-form-field>
  
  <mat-form-field class="guide-full-width">
    <input matInput placeholder="End Time" [value]="endTimeInput" (input)="endTimeInput = $event.target.value">
  </mat-form-field>
  
  <mat-form-field class="guide-full-width">
    <input matInput placeholder="Channel Id" [value]="chanIdInput" (input)="chanIdInput = $event.target.value">
  </mat-form-field>
    
</form>

<div>
  <button mat-raised-button color="primary" (click)="onClickGo()" >Go</button>
</div>

  </ng-template>
</mat-tab>

<mat-tab label="Guide" *ngIf="guideTabEnabled">
  <ng-template matTabContent>
	


<div *ngIf="!dataLoaded">
Loading...
</div>

<div *ngIf="dataLoaded">

<div *ngIf="byTimeLayout">

<div class="guide-header-wrapper">
  <div class="guide-flex-1"></div>
  <div class="guide-header-text">{{selectedTimeString | date:'medium'}}</div>
  <div class="guide-flex-1"></div>
</div>

<table mat-table [dataSource]="guideChannels" class="mat-elevation-z8 guide-full-width">
  <ng-container matColumnDef="channelIcon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let ch" (click)="onSelectChannel(ch)" class="guide-channelicon-wrapper" ><div class="guide-channelicon" [ngStyle]="{'background-image': getChannelIconUrl(ch.IconURL)}" > </div></td>
  </ng-container>

  <ng-container matColumnDef="channel">
    <th mat-header-cell *matHeaderCellDef> Channel </th>
    <td mat-cell *matCellDef="let ch" (click)="onSelectChannel(ch)" >{{ch.ChanNum}} - {{ch.ChannelName}} </td>
  </ng-container>
  
  <ng-container matColumnDef="program">
    <th mat-header-cell *matHeaderCellDef> Program </th>
    <td mat-cell *matCellDef="let ch" (click)="onSelectProgram(ch.Programs[0],ch.ChanId)" [ngClass]="'status-'+recstatus.transform(ch.Programs[0].Recording.Status)" >{{ch.Programs[0].Title}}</td>
  </ng-container>
    
  <tr mat-header-row *matHeaderRowDef="byTimeColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: byTimeColumns;"></tr> 

</table>

</div>


<div *ngIf="!byTimeLayout">

<div class="guide-header-wrapper">
  <div class="guide-flex-1"></div>
  <div class="guide-header-icon" *ngIf="selectedChannel.IconURL"  [ngStyle]="{'background-image': getChannelIconUrl(selectedChannel.IconURL)}" > </div>
  <div class="guide-header-text">{{selectedChannel.ChanNum}} - {{selectedChannel.ChannelName}}</div>
  <div class="guide-flex-1"></div>
</div>
 
<table mat-table [dataSource]="guidePrograms" class="mat-elevation-z8 guide-full-width">
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let p" (click)="onSelectTime(p.StartTime)" >{{p.StartTime | date:'mediumDate'}}<br />{{p.StartTime | date:'mediumTime'}}</td>
  </ng-container>

  <ng-container matColumnDef="program">
    <th mat-header-cell *matHeaderCellDef> Program </th>
    <td mat-cell *matCellDef="let p" (click)="onSelectProgram(p)" [ngClass]="'status-'+recstatus.transform(p.Recording.Status)">{{p.Title}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="byChannelColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: byChannelColumns;"></tr>
  

</table>

</div>
</div>

<div class="blank-footer-filler">&nbsp;</div>

</ng-template>
</mat-tab>

  <mat-tab label="Detail" *ngIf="selectedProgram">
    <ng-template matTabContent>

    
<app-program-detail [program]="selectedProgram"></app-program-detail>

<div class="blank-footer-filler">&nbsp;</div>

</ng-template>
</mat-tab>

</mat-tab-group>

<mat-toolbar color="warn" class="bottom-footer" >
  <mat-toolbar-row>
    <span></span>
    <button type="button" aria-label="Reload data" mat-icon-button (click)="refresh()" color="primary">
      <mat-icon>refresh</mat-icon>
    </button>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>


</div>