<div class="guide">

<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)=onTabChanged($event)>
    <mat-tab label="Inputs">
        <ng-template matTabContent>

<br />

<div>
  <button mat-raised-button color="primary" (click)="onClickNow()" >Now (default)</button>
</div>


<br /> 

<form class="guide-form">
  <mat-form-field class="guide-full-width">
    <input matInput placeholder="Start Time" [value]="startTimeInput" (input)="startTimeInput = $event.target.value">
  </mat-form-field>
  
  <mat-form-field class="guide-full-width">
    <input matInput placeholder="End Time" [value]="endTimeInput" (input)="endTimeInput = $event.target.value">
  </mat-form-field>
  
  <mat-form-field class="guide-full-width">
    <input matInput placeholder="Channel Id" [value]="chanIdInput" (input)="chanIdInput = $event.target.value">
  </mat-form-field>
  
  
</form>

<div>
  <button mat-raised-button color="primary" (click)="onClickGo()" >Go</button>
</div>

</ng-template>
</mat-tab>



    <mat-tab label="Guide" *ngIf="guideTabEnabled">
        <ng-template matTabContent>
	


<div *ngIf="!dataLoaded">
Loading...
</div>

<div *ngIf="dataLoaded">



<div *ngIf="byTimeLayout">

<table style="width:100%">
<tr>
<th>Channel</th>
<th>Program</th>
</tr>

<tr *ngFor="let ch of guideChannels; last as last">
<td (click)="onSelectChannel(ch)">{{ch.ChanNum}} - {{ch.ChannelName}}</td>
<td *ngIf="ch.Programs.length > 0" (click)="onSelectProgram(ch.Programs[0],ch.ChanId)">{{ch.Programs[0].Title}}</td>
</tr>

</table>

</div>


<div *ngIf="!byTimeLayout">

<table style="width:100%">
<tr>
<th>Time</th>
<th>Program</th>
</tr>

<tr *ngFor="let p of guidePrograms; last as last">
<td (click)="onSelectTime(p.StartTime)">{{p.StartTime | date:'medium'}}</td>
<td (click)="onSelectProgram(p)">{{p.Title}}</td>
</tr>

</table>

</div>
</div>

</ng-template>
</mat-tab>

  <mat-tab label="Detail" *ngIf="selectedProgram">
    <ng-template matTabContent>

    
<app-program-detail [program]="selectedProgram"></app-program-detail>


</ng-template>
</mat-tab>

</mat-tab-group>

</div>