.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.dateString {
  background-color: gray;
  font-size: x-large;
  xborder-bottom-color: blue;
  xborder-bottom-style: solid;
  xwidth: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 10px 0px 0px 10px;
  vertical-align: middle;
}
