<div class="upcoming">


<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)=onTabChanged($event)>
    <mat-tab label="Group">
        <ng-template matTabContent>

<div *ngIf="!dataLoaded">
Loading...
</div>

<div *ngIf="dataLoaded">
      <mat-list class="upcomingGroupList">
      
          <mat-list-item  *ngFor="let upGR of upcomingGroupList; last as last"  (click)="onSelectGroup(upGR)" [class.selected]="upGR === selectedUpcomingGroup">
          
          <span>{{upGR}}</span>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
          
          </mat-list>

</div>
          </ng-template>
        </mat-tab>

  <mat-tab label="Date" *ngIf="dateTabEnabled">
    <ng-template matTabContent>

<mat-list class="dateList">

<mat-list-item  *ngFor="let dt of dateList; first as first; last as last" (click)="onSelectDate(dt)" [class.selected]="dt === selectedDate">

<span *ngIf="first">{{dt}}</span>
<span *ngIf="!first">{{dt | date:'fullDate'}}</span>

<mat-divider [inset]="true" *ngIf="!last"></mat-divider>

</mat-list-item>

</mat-list>

    </ng-template>
  </mat-tab>

  <mat-tab label="Program" *ngIf="programTabEnabled">
    <ng-template matTabContent>

<div *ngIf="selectedDate">

<!--<h2>{{selectedDateFormatted}}</h2>-->


<mat-list class="filteredProgramDateList">

<ng-container *ngFor="let d of dateProgramList">
<mat-list-item>
<div class="dateString">{{d.DateDisplayString}}</div>
<!--{{d.DateDisplayString}}-->
</mat-list-item>

<mat-list class="programList">
<mat-list-item *ngFor="let u of d.Programs; last as last" (click)="onSelectProgram(u)" [class.selected]="u === selectedUpcoming">
<p matLine>{{u.Title}}</p>
<p matLine>{{u.SubTitle}}</p>
<p matLine>Status: {{u.Recording.Status | recstatus}}</p>
<p matLine *ngIf='u.Season > 0' >S{{u.Season}}E{{u.Episode}}</p>
<p matLine>Recording Start: {{u.StartTime | date:'M/dd/yyyy @ h:mma'}}</p>
<p matLine *ngIf='u.Airdate' >Original Airdate: {{u.Airdate}}</p>
<mat-divider [inset]="true"  *ngIf="!last" ></mat-divider>
</mat-list-item>
</mat-list>



</ng-container>
</mat-list>

</div>


    </ng-template>
  </mat-tab>
  <mat-tab label="Detail" *ngIf="selectedUpcoming">
    <ng-template matTabContent>

<app-program-detail [program]="selectedUpcoming"></app-program-detail>


</ng-template>
</mat-tab>

</mat-tab-group>

</div>

