.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.dateString {
  background-color: gray;
  font-size: x-large;
  border-bottom-color: blue;
  border-bottom-style: solid;
  width: 100%;
  margin-left: -16px;
}