<div class="overall-container" [class.is-mobile]="mobileQuery.matches">

<mat-toolbar color="warn" class="toolbar-header" >
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <button type="button" aria-label="Toggle message" mat-icon-button (click)="messages.toggle()" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
  <mat-sidenav #drawer role="navigation" class="drawer-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? false: true"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" >
  
<mat-nav-list>

  <a mat-list-item routerLink="/dashboard">Dashboard</a>
  <a mat-list-item routerLink="/recorded">Recorded</a>
  <a mat-list-item routerLink="/upcoming">Upcoming</a>
  <a mat-list-item routerLink="/guide">Guide</a>
  <a mat-list-item routerLink="/status">Status</a>
  <a mat-list-item routerLink="/settings">Settings</a>
  

    </mat-nav-list>


</mat-sidenav>

<mat-sidenav #messages mode="side" position="end" closed>
<app-messages></app-messages>
</mat-sidenav>

<mat-sidenav-content class="content-continer">



<router-outlet></router-outlet>






</mat-sidenav-content>
</mat-sidenav-container>



</div>