.overall-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #607d8b;
  background-color: #cfd8dc;
}
nav a.active {
  color: #607d8b;
}

.toolbar-header {
  /*
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  */
}

.is-mobile .toolbar-header {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
/*  
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
*/
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  //width: 100%;
}

.mat-toolbar-row span{
  flex: 1 1 auto;
}