<mat-card *ngIf="recorded" class="recorded-detail-card">


<mat-card-header>
<mat-card-title>{{recorded.Title}}</mat-card-title>
<mat-card-subtitle>{{recorded.SubTitle}}</mat-card-subtitle>
</mat-card-header>

<img *ngIf="imageUrl" mat-card-image [src]="imageUrl" class="screenshotImage" />


<mat-card-content>

<p><span>Start: </span>{{recorded.StartTime | date:'MM/dd/yyyy @ h:mma'}}</p>
<p>ChanId: {{recorded.Channel.ChanId}}</p>
<p>RecStart: {{recorded.Recording.StartTs | date:'MM/dd/yyyy @ h:mma'}}</p>
<div>{{recorded.Description}}</div>

</mat-card-content>

  
</mat-card>