.mat-list-base .mat-list-item.mat-multi-line .mat-list-item-content {
  height: 120px;
}
.mat-list-base .mat-list-item .mat-list-avatar {
  width: 150px;
  height: auto;
  border-radius: 5%;
}
.mat-list-base .mat-list-item .mat-list-avatar~.mat-divider-inset {
  margin-left: 0px;
}
