/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";


.status-Conflict {
  color: red !important;
  font-weight: bolder;    
}

.blank-footer-filler {
  width: 100%;
  height: 56px;
}

.bottom-footer{
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  z-index: 3;
}
.mat-toolbar-row span{
  flex: 1 1 auto;
}
