<div class="recorded">

<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)=onTabChanged($event)>
    <mat-tab label="Group">
        <ng-template matTabContent>

<div *ngIf="!dataLoaded">
Loading...
</div>

<div *ngIf="dataLoaded">


      
          <mat-list class="recGroupList">
      
          <mat-list-item  *ngFor="let recGR of recGroupList; last as last"  (click)="onSelectRecGroup(recGR)" [class.selected]="recGR === selectedRecGroup">
          
          <span>{{recGR}}</span>
          
<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
          
          </mat-list>


</div>
          </ng-template>
        </mat-tab>

  <mat-tab label="Title" *ngIf="titleTabEnabled">
    <ng-template matTabContent>

<mat-list class="titleList">

<mat-list-item  *ngFor="let title of titleList; last as last" (click)="onSelectTitle(title)" [class.selected]="title === selectedTitle">

<span>{{title}}</span>

<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
</mat-list-item>

</mat-list>

    </ng-template>
  </mat-tab>

  <mat-tab label="Recording" *ngIf="recordingTabEnabled">
    <ng-template matTabContent>

<div *ngIf="selectedTitle">

<h2>{{selectedTitle.Title}}</h2>



<mat-list class="filteredProgramList">


<mat-list-item *ngFor="let rec of filteredRecordeds; last as last" (click)="onSelectRecorded(rec)" [class.selected]="rec === selectedRecorded">

<p matLine>{{rec.Title}}</p>
<p matLine>{{rec.SubTitle}}</p>
<p matLine>S{{rec.Season}}E{{rec.Episode}}</p>
<p matLine>Recorded: {{rec.StartTime}}</p>
<p matLine>Original Airdate: {{rec.Airdate}}</p>

<img *ngIf='rec.smallPreviewImageUrl' [src]='rec.smallPreviewImageUrl' alt='image here' />


<mat-divider [inset]="true"  *ngIf="!last" ></mat-divider>

</mat-list-item>


</mat-list>


</div>


    </ng-template>
  </mat-tab>
  <mat-tab label="Detail" *ngIf="selectedRecorded">
    <ng-template matTabContent>

<app-recorded-detail [recorded]="selectedRecorded"></app-recorded-detail>


</ng-template>
</mat-tab>

</mat-tab-group>

</div>