<mat-tab-group [selectedIndex]="tabIndex" >
    <mat-tab label="RecGroup">
        <ng-template matTabContent>
      
          <mat-list class="recGroupList">
      
          <mat-list-item  *ngFor="let recGR of recGroupList; last as last"  (click)="onSelectRecGroup(recGR)" [class.selected]="recGR === selectedRecGroup">
          
          <span>{{recGR}}</span>
          
<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
          
          </mat-list>
      
          </ng-template>
        </mat-tab>

  <mat-tab label="Titles">
    <ng-template matTabContent>

<mat-list class="titleList">

<mat-list-item  *ngFor="let title of titleList; last as last" (click)="onSelectTitle(title)" [class.selected]="title === selectedTitle">

<span>{{title}}</span>

<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
</mat-list-item>

</mat-list>

    </ng-template>
  </mat-tab>

  <mat-tab label="Recordings">
    <ng-template matTabContent>

<div *ngIf="selectedTitle">

<h2>{{selectedTitle.Title}}</h2>



<mat-list class="filteredProgramList">


<mat-list-item *ngFor="let rec of filteredRecordeds; last as last" (click)="onSelectRecorded(rec)" [class.selected]="rec === selectedRecorded">

<span>S{{rec.Season}}E{{rec.Episode}} - </span><span>{{rec.StartTime}}</span>



<mat-divider [inset]="true"  *ngIf="!last" ></mat-divider>

</mat-list-item>


</mat-list>


</div>


    </ng-template>
  </mat-tab>
  <mat-tab label="Details">
    <ng-template matTabContent>

<div *ngIf="selectedRecorded">

<app-recorded-detail [recorded]="selectedRecorded"></app-recorded-detail>


</div>

</ng-template>
</mat-tab>

</mat-tab-group>