<div class="settings">

<form class="settings-form">
  <mat-form-field class="settings-full-width">
    <input matInput placeholder="Root API Url (begins with http*)" [value]="_rootApiUrl" (input)="_rootApiUrl = $event.target.value">
  </mat-form-field>
  
</form>

<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="onClickSave()" >Save</button>
</div>


<mat-toolbar color="warn" class="bottom-footer" >
  <mat-toolbar-row>
    <span></span>
    <!--<button type="button" aria-label="Reload data" mat-icon-button (click)="refresh()" color="primary">
      <mat-icon>refresh</mat-icon>
    </button>
    -->
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>


</div>